 /* Styles for the  typography */
* {
    font-family: 'Montserrat', sans-serif;
    color: $color-primary;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

/*  Specific  */
.active-link {
    text-decoration: underline;
}


/*  Font */  
$font-weight: (
    light: 400,
    regular: 500,
    bold: 700,
);